

    
    

input {
width:100%;
padding:5px;
}
textarea {
width:100%;
padding:50px;
}
#submit{width:25%;background-color: teal;
    color: white;}

@media screen and (max-width: 980px) {
input {
width:100%;
padding:5px;
}
textarea {
width:100%;
padding:50px;
}
#submit{width:25%;background-color: teal;
    color: white;}
}
@media screen and (max-width: 768px) {
input {
width:100%;
padding:5px;
}
textarea {
width:100%;
padding:50px;
}
#submit{width:25%;background-color: teal;
    color: white;}
}
@media screen and (max-width: 640px) {
input {
width:100%;
padding:5px;
}
textarea {
width:100%;
padding:50px;
}
#submit{width:25%;background-color: teal;
    color: white;}
}
label{font-family:arial;}
